body {
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9
}
header {
  display: flex;
  flex-direction: row;
  height: 69;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 2;
  background-color: inherit;
 align-items: center;
 text-align: center;
 background-size: cover;
 background-repeat: repeat;
 width: 100%;
 margin-left: auto;
}
header nav {

}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  width: auto;
  color: grey;
}
.logo {
  display: fle
  align-content: center;
  padding-left: 10px;

}
.logo img {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  height: 50px;

}
a {
  color: grey;
}


nav {
  margin-left: auto;
}


nav span {
  display: inline-block;
  padding: 20px 10px;
  text-decoration: underline;
}
.Mission.image-content {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  align-items: center;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}


}
h2 {
  color: red;
   display: inline-block;
   align-items: center;

}
.main {
  background-color: black;
  display: flex;
  flex-direction: column;
  width: 1200px;
  align-items: center;
  height: auto;
  color: grey;

}


.list-item {
  width: 25%;
  float: left;
  margin: auto;
  text-align: center;
  padding: 10px
}

.list-item img {
  width: 100%;
}

.location.block {
      background-image: url(../images/img-locations-background.jpg);
    background-color: black;
    width: auto;
    height: 500px;

}

.address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 100px;
  height: auto;

}

h3, p {
  color: white;
}

.Location-list {
    display: flex;
   flex-direction: column;
   justify-content: flex-end;
   flex-wrap: wrap;
   align-items: center;
   opacity: 1;
   width: 300px;
   height: auto;
   padding-right: 40px
   padding-top: 15px;
  }

  .Locations {

  }



footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 200px;
  margin: auto;
  width: auto;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copyright {
  display: flex;
  align-items: flex-start;
  margin-right: auto;
  float: left;
}
